extends layout.pug
block content
  div#addpoll-container
    h1.content-title.header Add New Poll
    fieldset.form-sep
      legend.header
        label(for="input-val") Poll Value Input
      input.form-op(type="text" maxlength="25" placeholder="Enter a name for the value..")#input-val  
      button.add-button +
    form#add-form(method="POST" action="/polls/add/addpoll/" onsubmit="event.preventDefault(); validateForm();")
      fieldset.form-sep
        legend.header
          label(for="poll-name") Poll Name
        input.form-op#poll-name(type="text" name="pollName" required maxlength="50" placeholder="Enter a name for your poll...")
      fieldset.form-sep
        legend.header
          label(for="poll-description") Description 
        input.form-op#poll-description(name="description" required placeholder="Provide a description for your poll...")
      fieldset.form-sep(style="content:'';display: table; clear: both;")
        legend.header Visibility
        p If you would like others to know you were the poster, select your username. Otherwise select Anonymous.
        div
          label(for="r1") Anonymous
          input(type="radio" name="visibility" value="Anonymous" id="r1" checked)
          label(for="r2") #{user.username}
          input(type="radio" name="visibility" value=user.username id="r2")    
      fieldset.form-sep
        legend.header Poll Value List
        ul#value-list
        input#list-input(type="hidden" name="list-values")        
      input#form-submit(type="submit").submit               
        
      
      
