extends layout.pug
block content
  div.title-div
    h1.vote vote
    h1.shack SHACK!
    h2 See Below For List Of Polls.
    p Click down arrow to see brief description of poll. You can also click the poll name to vote and view statistics. If you would like to create a poll please sign in. 
  div#poll-div
    ul#poll-list
      each doc, i in docs
        li.noSelect
          a(href="/polls/"+doc._id)
            h3=doc.title
          button.des-show &#9660;  
          div.description-div
            table
              tr
                td Description
                td Comments
                td Votes 
              tr
                td=doc.description
                td=doc.comments.length
                td=doc.total
                  i(class="fas fa-thumbs-up")
          
